@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

.about {
  line-height: 18pt;
  padding: 100px 0 130px 0;
  color: #616161;
  background-color: "white";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.section-header {
  font-size: 30pt;
  color: #444649;
  font-family: "Raleway-SemiBold", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.section-header-bar {
  margin: 45px 0 100px 0;
  width: 70px;
  height: 4px;
  background: #444649;
  color: #616161;
  line-height: 18pt;
  font-size: 12pt;
  position: absolute;
}

.qualities {
  max-width: 1200px;
  width: 100%;
  font-size: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 130px 10px 0 10px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.quality {
  padding: 0 25px 0 25px;
  max-width: 320px;
}

.quality-image {
  font-size: 50pt;
  padding-top: 33px;
  color: white;
}

.quality-header {
  height: 230px;
  margin: 15px 0 5px 0;
  font-size: 18pt;
  font-family: "Raleway-Bold", sans-serif;
}

.quality-text {
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
}

.circle {
  background-color: #04c2c9;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin-right: auto;
  margin-left: auto;
}
