@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 !important;
  }
  .qualities {
    flex-direction: column !important;
    font-size: 18pt !important;
    padding: 90px 0 0 0 !important;
  }
  .qualities-row {
    padding-bottom: 15px !important;
    flex-direction: column !important;
  }
  .quality {
    padding: 20px 12px 0 12px !important;
    max-width: 240px !important;
  }
  .quality-image {
    width: 35pt !important;
    padding-top: 15px !important;
  }
  .quality-header {
    font-size: 12pt !important;
  }
  .quality-text {
    font-size: 10pt !important;
  }
  .circle {
    width: 65px !important;
    height: 65px !important;
    border-radius: 100% !important;
  }
  .info {
    flex-direction: column !important;
    padding-bottom: 150px;
  }
  .info-detail {
    max-width: 90% !important;
    width: 0 !important;
    height: 0 !important;
    border-radius: 0 !important;
    padding-bottom: 50px !important;
  }
  .info-image {
    width: 200px !important;
    height: 200px !important;
    display: none;
  }
  .info-text {
    font-size: 10pt !important;
  }
  .contents {
    width: calc(100% - 15px) !important;
    max-width: 90% !important;
  }
  .content {
    height: 25px !important;
    font-size: 9pt !important;
    margin-bottom: 20px !important;
    line-height: 25px !important;
    max-width: 100% !important;
  }
  .tag {
    width: 90px !important;
  }
  .percentage {
    display: none !important;
  }
  .about {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }
}

.about {
  line-height: 18pt;
  padding: 100px 0 130px 0;
  color: #616161;
  background-color: "white";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.section-header {
  font-size: 30pt;
  color: #444649;
  font-family: "Raleway-SemiBold", sans-serif;
  text-transform: uppercase;
  position: relative;
  visibility: hidden;
}

.section-header-bar {
  margin: 45px 0 100px 0;
  width: 70px;
  height: 4px;
  background: #444649;
  color: #616161;
  line-height: 18pt;
  font-size: 12pt;
  position: absolute;
  visibility: hidden;
}

.qualities {
  max-width: 1200px;
  width: 100%;
  font-size: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 90px 10px 0 10px;
  margin-right: auto;
  margin-left: auto;
}

.quality {
  padding: 0 25px 0 25px;
  max-width: 620px;
}

.qualities-row {
  display: flex;
  padding-top: 25px;
}

.quality-image {
  width: 70pt;
  padding-top: 30px;
  color: white;
}

.quality-header {
  margin: 15px 0 5px 0;
  font-size: 18pt;
  font-family: "Raleway-Bold", sans-serif;
  opacity: 0;
}

.quality-header-text {
  padding: 5px 0 17px 0;
}

.quality-text {
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
}

.circle {
  /* background-color: #ff686b; */
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
}

.info {
  width: 100%;
  font-size: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 100px auto 100px auto;
  display: flex;
  visibility: hidden;
}

.info-detail {
  height: auto;
  width: 500px;
  padding-right: 75px;
}

.info-image {
  width: 500px;
}

.tac-link {
  text-decoration: none;
  color: #04c2c9;
}

.contents {
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.content-title {
  font-size: 22pt;
  font-family: "Raleway-bold";
}

.highlight-title {
  color: #ff686b;
}

.content {
  max-width: 90%;
  height: auto;
  margin: 0 0 15px 0;
  font-size: 11pt;
  color: #666;
  position: relative;
  line-height: 35px;
}

.skill-bar {
  background-color: #00a1a7;
  position: absolute;
  transition: width 1.5s;
}

.tag {
  width: 110px;
  background-color: #04c2c9;
  color: white;
  font-family: "Raleway-bold";
}

.percentage {
  float: right;
  z-index: 1;
  display: initial;
  font-family: "Raleway-semibold";
}

.animated.flip-in-x {
  -webkit-font-smoothing: antialiased;
  animation: flipInX 0.75s ease both;
  visibility: visible !important;
}

.animated.fadeIn {
  -webkit-font-smoothing: antialiased;
  animation: fadeIn 1.75s ease both;
}

.animated.slideIn-right {
  -webkit-font-smoothing: antialiased;
  animation: slideInRight 0.75s ease both;
  visibility: visible !important;
}

.animated.slideIn-left {
  -webkit-font-smoothing: antialiased;
  animation: slideInLeft 0.75s ease both;
  visibility: visible !important;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skills .skill:nth-child(1) .skill-bar.animated.bar {
  width: 70% !important;
}
.skills .skill:nth-child(2) .skill-bar.animated.bar {
  width: 80% !important;
}
.skills .skill:nth-child(3) .skill-bar.animated.bar {
  width: 55% !important;
}
.skills .skill:nth-child(4) .skill-bar.animated.bar {
  width: 75% !important;
}
.skills .skill:nth-child(5) .skill-bar.animated.bar {
  width: 60% !important;
}
.skills .skill:nth-child(6) .skill-bar.animated.bar {
  width: 30% !important;
}
.skills .skill:nth-child(7) .skill-bar.animated.bar {
  width: 40% !important;
}
.skills .skill:nth-child(8) .skill-bar.animated.bar {
  width: 50% !important;
}
