@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

.footer {
  background-color: #1b242f;
  height: 150px;
  margin: auto;
  display: flex;
  padding: 0 10px;
  justify-content: center;
}

.iconarrow {
  margin-top: -25px;
  background-color: #e0186b;
  height: 55px;
  width: 55px;
  cursor: pointer;
  text-align: center;
}

.bottomtext {
  font-size: 10pt;
  color: #8f9aa7;
  text-transform: uppercase;
  margin-top: 85px;
  opacity: 0.6;
  position: absolute;
}

.footerhighlight {
  color: #e0186b;
  font-family: "Raleway-SemiBold";
  font-size: 11pt;
}
