@import url("https://fonts.googleapis.com/css?family=Raleway");

.header {
  background-color: #1b242f;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 3px solid #04c2c9;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.menu {
  max-width: 1200px;
  width: 100%;
}

.menu-item {
  margin: 0 20px;
  padding: initial;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  display: inline;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:hover {
  color: #e0186b;
  transition: all 0.3s ease;
}

.active {
  color: #e0186b;
  transition: all 0.2s ease;
}
