@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@media only screen and (max-width: 768px) {
  .app {
    height: 110vh !important;
  }
  .text {
    font-size: 14pt !important;
    line-height: 18pt !important;
  }

  .button.page-link {
    font-size: 11pt !important;
    padding: 10px 45px 10px 15px !important;
  }
}

.app {
  /* background-color: #fdfffc; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg4.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-size: 32pt;
  line-height: 36pt;
  color: #00171f;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}

.highlight {
  color: #e63946;
  font-family: "Raleway-SemiBold";
}

.info {
  color: #00171f;
}

.button-text {
  font-family: "Raleway";
}

.button.page-link {
  color: #00171f;
  border: solid #00171f 2px;
  padding: 12px 50px 12px 20px;
  font-size: 16pt;
  text-align: center;
  line-height: 18pt;
  cursor: pointer;
  box-sizing: inherit;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.button.page-link:hover {
  background-color: #e63946;
  border-color: #e63946;
  color: white;
}

.arrowicon {
  color: #011627;
  position: absolute;
  right: 13px;
  top: 15px;
  display: inline-block;
  transition: all 0.3s ease;
}

.button.page-link:hover > .arrowicon {
  transform: rotateZ(90deg);
  color: white;
}
