@media only screen and (max-width: 768px) {
  .mail-form-header {
    width: 70% !important;
  }
  .mail-form-name {
    width: 70% !important;
  }
  .mail-form-email {
    width: 70% !important;
  }
  .mail-form-body {
    width: 70% !important;
  }
}

.mail-form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 90px 10px 0 10px;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
}

.mail-form-header {
  color: #04c2c9;
  font-family: "Raleway-Semibold";
  font-size: 14pt;
}

.mail-form-name {
  color: white;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 40%;
  height: 20px;
  background-color: #1e242c;
  border: 0;
  padding: 10px 15px 10px 15px;
  font-size: 13pt;
  font-family: "Raleway";
}

input:focus,
textarea:focus {
  outline: none;
}

.mail-form-email {
  color: white;
  margin-bottom: 5px;
  width: 40%;
  height: 20px;
  background-color: #1e242c;
  border: 0;
  padding: 10px 15px 10px 15px;
  font-size: 13pt;
  font-family: "Raleway";
}

.mail-form-body {
  color: white;
  margin-bottom: 5px;
  width: 40%;
  height: 150px;
  background-color: #1e242c;
  border: 0;
  padding: 10px 15px 10px 15px;
  font-size: 13pt;
  font-family: "Raleway";
}

.mail-form-button {
  color: white;
  background-color: #252934;
  border: solid white 2px;
  font-size: 16pt;
  text-align: center;
  line-height: 18pt;
  cursor: pointer;
  box-sizing: inherit;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
  font-family: "Raleway";
  padding: 12px 20px 12px 20px;
}

.mail-form-button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.mail-response-success {
  background-color: #04c886;
  color: #157051;
  width: 40%;
  font-size: 10pt;
  font-family: "Raleway";
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin-bottom: 10px;
  border: 1px solid #157c59;
}

.close-button {
  position: relative;
  font-size: 12pt;
  font-weight: 600;
  padding: 5px 15px;
  right: 30%;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.mail-response-fail {
  background-color: #d23148;
  color: #76112b;
  width: 40%;
  font-size: 10pt;
  font-family: "Raleway";
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin-bottom: 10px;
  border: 1px solid #76112b;
}

.animated.pop-in {
  -webkit-font-smoothing: antialiased;
  animation: popIn 1s ease both;
  visibility: visible !important;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
