@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

.products {
  line-height: 18pt;
  padding: 100px 0 130px 0;
  background-color: #e5e5e5;
}

.section-header {
  line-height: 18pt;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 120px 10px 0 10px;
  visibility: hidden;
}

.animated.slideUp {
  -webkit-font-smoothing: antialiased;
  animation: slideUpProducts 0.75s ease both;
  visibility: visible !important;
}

.product {
  width: 400px;
  height: 300px;
  flex-direction: row;
  position: relative;
  animation: fadeIn 0.6s ease forwards;
}

.product-text {
  position: absolute;
  font-size: 16pt;
  font-family: "Raleway-semibold";
  text-align: center;
  top: 0;
  width: 100%;
  line-height: 18pt;
  animation: slideDownReverse 0.6s ease forwards;
}

.product-highlight {
  font-size: 12pt;
  color: #e63946;
  font-family: "Raleway", sans-serif;
}

.product-button {
  color: #00171f;
  border: solid #e63946 2px;
  padding: 8px 30px 8px 30px;
  font-size: 13pt;
  line-height: 18pt;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  z-index: 2;
  left: calc((400px - 175.58px) / 2);
  font-family: "Raleway", sans-serif;
  animation: slideUpReverse 0.6s ease forwards;
  transition: all 0.4s ease-in-out;
}

.product-button:hover {
  background-color: #e63946;
  border-color: #e63946;
  color: white;
}

.product-gallery .product:nth-child(1) {
  background: url("../images/goldenhorn_banner.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:nth-child(2) {
  background: url("../images/loe2.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:nth-child(3) {
  background: url("../images/conig2.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:hover {
  animation: fadeOut 0.3s ease forwards;
}

.product:hover .product-text {
  display: block;
  -webkit-font-smoothing: antialiased;
  animation: slideDown 0.3s ease forwards;
}

.product:hover .product-button {
  display: block;
  -webkit-font-smoothing: antialiased;
  animation: slideUp 0.3s ease forwards;
}

.product-modal {
  width: 35%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 55px;
  right: 0;
  border: solid black;
  overflow: hidden;
  background-color: white;
  animation: fadeIn 0.5s ease forwards;
}

.modal-img {
  width: 100%;
}

.modal-project-name {
  font-family: "Raleway-bold";
  margin: 10px 10px 0 15px;
  font-size: 22pt;
  color: #444;
}

.modal-project-category {
  font-family: "Raleway-bold";
  margin: 0 10px 0 15px;
  padding-bottom: 15px;
  font-size: 12pt;
  color: #c0c0c0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-project-description {
  font-family: "Raleway";
  margin: 15px 10px 0 15px;
  padding-bottom: 15px;
  font-size: 11pt;
  line-height: 18pt;
  color: #444;
}

.modal-button {
  color: white;
  border: solid #e63946 2px;
  background-color: #e63946;
  padding: 8px 30px 8px 30px;
  font-size: 13pt;
  line-height: 18pt;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  text-transform: uppercase;
  z-index: 2;
  left: 15px;
  font-family: "Raleway", sans-serif;
  transition: all 0.4s ease-in-out;
}

.modal-button:hover {
  background-color: white;
  border-color: white;
  color: #e63946;
}

.linkicon {
  position: absolute;
  left: 5px;
  top: 10px;
  display: inline-block;
}

.modal-link {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}

.modal-button:hover .modal-link {
  color: #e63946;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    background: none center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(55px);
  }
}

@keyframes slideDownReverse {
  0% {
    opacity: 1;
    transform: translateY(55px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-55px);
  }
}

@keyframes slideUpReverse {
  0% {
    opacity: 1;
    transform: translateY(-55px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes slideUpProducts {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
