@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@media only screen and (max-width: 768px) {
  .product-gallery {
    flex-direction: column !important;
  }
}

.products {
  line-height: 18pt;
  padding: 100px 0 130px 0;
  background-color: #e5e5e5;
}

.section-header {
  line-height: 18pt;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 120px 10px 0 10px;
  visibility: hidden;
}

.animated.slideUp {
  -webkit-font-smoothing: antialiased;
  animation: slideUpProducts 0.75s ease both;
  visibility: visible !important;
}

.product {
  width: 400px;
  height: 300px;
  flex-direction: row;
  position: relative;
  animation: fadeIn 0.6s ease forwards;
}

.product-text {
  position: absolute;
  font-size: 16pt;
  font-family: "Raleway-semibold";
  text-align: center;
  top: 0;
  width: 100%;
  line-height: 18pt;
  animation: slideDownReverse 0.6s ease forwards;
}

.product-highlight {
  font-size: 12pt;
  color: #e63946;
  font-family: "Raleway", sans-serif;
}

.product-button {
  color: #00171f;
  border: solid #e63946 2px;
  padding: 8px 30px 8px 30px;
  font-size: 13pt;
  line-height: 18pt;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  z-index: 2;
  left: calc((400px - 175.58px) / 2);
  font-family: "Raleway", sans-serif;
  animation: slideUpReverse 0.6s ease forwards;
  transition: all 0.4s ease-in-out;
}

.product-button:hover {
  background-color: #e63946;
  border-color: #e63946;
  color: white;
}

.product-gallery .product:nth-child(1) {
  background: url("../images/goldenhorn_banner.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:nth-child(2) {
  background: url("../images/loe2.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:nth-child(3) {
  background: url("../images/conig2.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-gallery .product:hover {
  animation: fadeOut 0.3s ease forwards;
}

.product:hover .product-text {
  display: block;
  -webkit-font-smoothing: antialiased;
  animation: slideDown 0.3s ease forwards;
}

.product:hover .product-button {
  display: block;
  -webkit-font-smoothing: antialiased;
  animation: slideUp 0.3s ease forwards;
}

.product-modal {
  max-width: 700px;
  top: 10%;
  position: relative;
  overflow: auto;
  margin: auto;
  overflow: hidden;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  color: #333;
  background-color: white;
  animation: openModal 0.5s ease forwards;
}

.modal-html {
  overflow: hidden;
}

.close-modal {
  animation: closeModal 0.3s ease forwards;
}

.modal-image-container {
  height: 450px;
}

.modal-img {
  max-height: 450px;
  display: block;
  margin: 0 auto;
}

.modal-info {
  padding: 35px 60px 90px 25px;
  border-top: 3px solid #1b242f;
  box-sizing: border-box;
  color: #444;
}

.modal-title {
  font-size: 22pt;
  line-height: 30pt;
  font-family: "Raleway-bold";
}

.modal-tag {
  display: block;
  font-weight: 300;
  color: #c0c0c0;
  font-family: "Raleway-bold";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  font-size: 11pt;
}

.modal-description {
  font-size: 11pt;
  line-height: 18pt;
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-button {
  color: white;
  background-color: #e63946;
  padding: 8px 30px 8px 30px;
  font-size: 11pt;
  line-height: 18pt;
  cursor: pointer;
  bottom: 20px;
  left: 15px;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  font-family: "Raleway-semibold";
  transition: all 0.4s ease-in-out;
}

.modal-button:hover {
  background-color: white;
  border-color: white;
  color: #e63946;
}

.linkicon {
  position: absolute;
  left: 10px;
  top: 11px;
  display: inline-block;
}

.modal-link {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}

.modal-button:hover .modal-link {
  color: #e63946;
}

@keyframes openModal {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 700px;
    height: 750px;
  }
}

@keyframes closeModal {
  0% {
    width: 700px;
    height: 750px;
  }
  100% {
    width: 0%;
    height: 0%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    background: none center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(55px);
  }
}

@keyframes slideDownReverse {
  0% {
    opacity: 1;
    transform: translateY(55px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-55px);
  }
}

@keyframes slideUpReverse {
  0% {
    opacity: 1;
    transform: translateY(-55px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes slideUpProducts {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
